<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebDrawer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/sidedrawer.css" />
    <link rel="stylesheet" href="~/lib/simple-sidebar/css/simple-sidebar.css">
</head>

<body>
    <header>
        <div class="shadow-lg p-3 mb-5 bg-white rounded" style="margin-left: 190px">
            <div class="d-flex bd-highlight">
                <div class="p-2 flex-grow-1 bd-highlight">Header Logo</div>
                <div class="p-2 bd-highlight">Logged in user</div>
            </div>
        </div>

        <nav class="nav__cont">
            <img src="https://picsum.photos/700/400?random=1" alt="" style="width:200px; height:200px" />

            <ul class="nav">
                <li class="nav__items">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>

                <li class="nav__items">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>

            </ul>
        </nav>

    </header>
    <div class="wrapper" style="margin-left:210px">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="margin-left:210px">
        <div class="container">
            &copy; 2021 - WebDrawer - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
